{{ define "main" }}

<style>
div.platforms {
    display: flex;
    justify-content: center;
}
div.platforms div {
    display: flex;
    flex-direction: column;
    flex-basis: 32%;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    border: 1px solid #808080;
    border-radius: 10px;
    padding: 1em;
    margin: 2ex;
}
div.platforms img {
    flex-grow: 0;
    flex-shrink: 0;
}
div.platforms p {
    margin: calc( var( --spacing-unit ) * 0.5 ) 0 0 0;
}

div#ubos-amazon-ec2-image-latest {
    margin: 0 auto;
}
@media (max-width: 600px ) {
    div.platforms {
    flex-direction: column;
  }
}
div.insert {
    float: right;
    margin: 0 0 20px 20px;
    padding: 0 10px;
    width: 363px;
    border-radius: 10px;
    background: #fba923;
    background: linear-gradient(0, #fba923, #fba92360);
}
div.insert img {
    float: left;
    display: block;
    margin: 18px 10px 10px 10px;
}
</style>

{{   if .Params.class }}
<main class="{{ .Params.class }}">
{{   else }}
<main>
{{   end }}

{{   partial "breadcrumbs.html" . }}

{{   if eq .Params.display false }}
 <p>Post unavailable.</p>
{{   else }}
 <article>
  <div class="insert">
    <a href="https://indiecomputing.com/products/"><img src="/images/ubosbox-nextcloud-on-nuc-model-a-on-67x50.jpg"></a>
    <p>
      Or, buy a pre-configured <a href="https://indiecomputing.com/products/">UBOSbox</a><br>
     from <a href="https://indiecomputing.com/">indiecomputing.com</a>.
    </p>
  </div>

{{ partial "title-et-al-main.html" . }}

  <div class="content">
{{ .Content }}
  </div>
{{ partial "discuss.html" . }}
 </article>
{{ end }}
</main>
{{ end }}



