{{ define "main" }}
<main class="miniresp-main">
  <article role="main" class="blog-post">
    {{ if .Params.date }}
      <h5 class="published">{{ dateFormat "2006-01-02" .Params.date }}</h5>
    {{ end }}
    <h1 class="title">{{ .Title }}</h1>
    {{ if .Params.subtitle }}
      <h2 class="subtitle">{{ .Params.subtitle }}</h2>
    {{ end }}
    {{ if .Params.categories }}
      <div class="categories">
        Posted in:
        <ul>
          {{ range $i := (slice "categories" "tags") }}
            {{ with ($.Param $i) }}
              {{ range $k := . }}<li><a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a></li> {{ end }}
            {{ end }}
          {{ end }}
        </ul>
      </div>
    {{ end }}
    {{ .Content }}
  </article>
</main>
{{ end }}
