body.front div.project {
    display: none;
}
body.front ul.nav {
    padding: 0
}

body.front h1.title {
    font-weight: 300;
}

body.front div.banner {
    background: #fffdcc;
    border-radius: 20px;
    border: 1px solid #ffe0c0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

body.front div.section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    clear: both;
}

body.front div.section div.sectioncontent {
    margin: 5px 20px;
    padding: 10px;
}

body.front div.section > div.section-header {
  float: none;
  width: 100%;
  display: block;
  color: #808080;
  border-bottom: 2px solid #c0c0c0;
  position: relative;
  margin: 40px 0 30px 0;
  text-align: center;
}
body.front  div.section > div.section-header > span {
  position: relative;
  top: 12px;
  padding: 0 10px;
  background: #fff;
}
body.front ul.news-posts {
  margin: 0;
  overflow: hidden;
}
body.front ul.news-posts > li {
  list-style: none;
}
body.front span.news-meta {
  display: inline-block;
  width: 110px;
}




p.feeds {
    float: right;
    margin: 5px 0 0 0;
}
body.front div.apps img {
    float: left;
    margin: 10px 10px 0 15px;
}

div.howto > div.howtoitem {
  float: left;
  width: 225px;
  min-height: 235px;
  margin: 4px;
  padding: 0 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
div.howto h2 {
  margin-top: 5px;
  font-size: 120%;
  text-align: center;
}
div.howto pre {
  overflow-x: hidden;
}

