@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100");
@import url("http://fonts.googleapis.com/css?family=Roboto:400,700,500,300,100,900");

@import url('https://fonts.googleapis.com/css2?family=Lato');

:root {
    --base-font-family: Lato, Roboto, Helvetica, Arial, sans-serif;
    --base-font-size:   16px;
    --h1-font-size:     calc( var( --base-font-size ) * 2.5 );
    --h2-font-size:     calc( var( --base-font-size ) * 1.5 );
    --small-font-size:  calc( var( --base-font-size ) * 0.75 );
    --base-line-height: 1.5;
    --base-font-weight: 400;
    --width:            980px;
    --spacing-unit:     40px;
    --collapse-width:   560px;

    --text-color:       #111;
    --background-color: #fdfdfd;
    --brand-color:      #2a7ae2;

    --grey-color:       #828282;
    --grey-color-light: #c0c0c0;

    --code-font-size:   87.5%;
}

/* General elements */

body {
    font-family: var( --base-font-family );
    font-size: var( --base-font-size );
    line-height: var( --base-line-height );
    font-weight: var( --base-font-weight );
    color: var( --text-color );
    background-color: var( --background-color );
    -webkit-text-size-adjust: 100%;
    margin: 0;
}

h1 {
    font-size: calc( var( --h1-font-size ));
    line-height: 1.1;
    margin-bottom: calc( var( --spacing-unit ) * 0.7 );
    text-align: left;
}
h1 > a,
h1 > a:visited {
    text-decoration: none;
    color: inherit;
}

p, blockquote, pre, ul, ol, dl, li, figure {
    margin-top: calc( var( --spacing-unit ) * 0.5 );
    margin-bottom: calc( var( --spacing-unit ) * 0.5 );
}

a {
    color: var( --brand-color );
    text-decoration: none;
}

a:visited {
    color: var( --brand-color );
}

a:hover {
    color: var( --text-color );
    text-decoration: underline;
}

tt, code, pre {
    font-size: var( --code-font-size );
    font-variant-ligatures: none;
    background-color: #eef;
}
pre {
    padding: 8px 12px;
    overflow-x: auto;
}
code {
    padding:2px 5px;
}
pre > code {
    border: 0;
    padding: 0;
    margin: 0;
}
h1 > code,
h2 > code,
h3 > code {
    font-weight: 400;
}
ul, ol {
    margin: 15px 0 15px var( --spacing-unit );
    padding: 0;
}

article {
    margin: 30px 0;
    position: relative;
}

table {
   border-collapse: collapse;
   margin: 20px 0;
}
td, th {
    padding: 3px 5px;
    border: 1px solid #a0a0a0;
}

dt {
    margin-top: 10px;
    font-weight: bold;
}
dd {
    margin-left: 3em;
}

em {
    font-style: normal;
}

/* Layout */

header,
footer {
    width: 100%;
    clear: both;
}

header {
    text-align: center;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
    background-image: linear-gradient( #FFF, #EEE 50%, #E4E4E4);
    line-height: 10px;
    background-repeat: no-repeat;
    border: 1px solid #D5D5D5;
    position: sticky;
    top: 0;
    z-index: 100;
}

footer {
    margin-top: 30px;
    padding: 10px 0;
    border-top: 1px solid #D5D5D5;
    border-bottom: 1px solid #D5D5D5;
    font-size: var( --small-font-size );
}

footer .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer img {
    display: block;
    margin: 1ex;
}
footer p {
    margin: 1ex;
}

header > div.container,
footer > div.container,
main {
    max-width: var( --width );
}
#page-nav li {
    padding-top: 0;
    padding-bottom: 0;
}

nav#breadcrumbnav {
    margin-bottom: 20px;
}

/* Layout-specific elements */

article h1.title {
    margin: 0 0 10px 0;
}

article h2,
article h3 {
    margin: 1.5em 0 0 0;
}
article h2 + h3 {
    margin: 1em 0 0 0;
}

article p.date {
    margin: 50px 0 0 0
    font-weight: normal;
    font-size: var( --small-font-size );
}

main p.img {
    text-align: center;
}

ul.range-ul-article,
ul.range-ul-article > li {
    margin:  0;
    padding: 0;
}
ul.range-ul-article > li {
    list-style: none;
}

section.blog article h1,
h2 {
    font-size: var( --h2-font-size );
    text-align: left;
}
div.feedicon {
    float: right;
}

ul.pager {
    margin: 0 0 20px 0;
}
ul.pager li {
    margin: 0 20px;
}

.sidenote {
  font-size: small;
}

a.get-started-button {
    color: #a00000;
    padding: 5px 15px;
    background: #f0f0f0;
    border: 1px solid #800000;
    border-radius: 5px;
    box-shadow: 0 0 4px #a0a0a0;
}

section.docs-list > ol > li {
    margin-top: calc( var( --spacing-unit ) / 4 );
    margin-bottom: calc( var( --spacing-unit ) / 4 );
    padding: 0;
    font-weight: 700;
}
section.docs-list > ol > li > ol {
    margin-top: calc( var( --spacing-unit ) / 4 );
    margin-bottom: calc( var( --spacing-unit ) / 4 );
    padding: 0;
}
section.docs-list > ol > li > ol > li {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

aside.toc {
    float: right;
    width: 220px;
    margin: 0 0 20px 20px;
    padding: 3px 8px;
    border-radius: 6px;
    background: #fff;
    box-shadow:  0 0 2px 2px #ddd;
    position: relative;
    z-index: 1;
}

aside.toc h1 {
    margin: 1ex auto;
    text-align: center;
    text-transform: uppercase;
}

aside.toc * {
    font-size: 12px;
    text-decoration: none;
    line-height: 120%;
}
aside.toc a:hover {
    background: #e0e0e0;
}

aside.toc ol {
    margin: 0;
    padding: 0;
}
aside.toc li {
    margin: 8px 0;
    padding: 0;
    list-style: none;
}
aside.toc a {
    color: #404040;
}

aside.toc > ol > li > a {
    font-weight: bold;
}

aside.toc li li {
    margin-left: 2ex;
}

#toc ol.toc,
#toc li.toc {
    display: none;
}
#toc ol.toc.toc-current-path,
#toc li.toc.toc-current-path,
#toc #toc-current {
    display: block;
}

#toc ol.toc.toc-current-path > li,
#toc-current ol.toc,
#toc-current li.toc,
#toc > li.toc {
    display: block;
}
#toc-current > a {
    font-weight: bold;
}
#toc-current > ol.toc ol.toc {
    display: none;
}

div.admonition,
div.status {
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid #808080;
    border-radius: 10px;
}

div.admonition p.admonition-title {
    float: left;
    font-weight: bold;
    margin-right: 10px;
}
div.admonition p.admonition-title:after {
    content: ":"
}

div.admonition div.admonition.warning {
    background: #fff0f0;
    border-color: #ff8080;
}
div.status p.status-title {
    font-weight: bold;
    padding: 0;
    margin: 0;
}

span.undef:before {
    content: "UNDEF: ";
}

span.undef {
    color: red;
}
