@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wdth,wght@62.5..100,100..900&display=swap');

:root {
    --base-font-family: "Noto Sans", Helvetica, Arial, sans-serif;
    --base-font-size:   16px;
    --h1-font-size:     calc( var( --base-font-size ) * 2.2 );
    --h2-font-size:     calc( var( --base-font-size ) * 1.5 );
    --small-font-size:  calc( var( --base-font-size ) * 0.75 );
    --base-line-height: 1.5;
    --base-font-weight: 400;
    --width:            980px;
    --spacing-unit:     40px;
    --collapse-width:   560px;

    --code-font-family: "Noto Sans Mono", Menlo, "Courier New";
    --code-font-size:   80%;

    --ubos-color:       #2FD82F;
    --text-color:       #111;
    --link-color:       #18b018;

    --background-color: #fdfdfd;
    --code-background-color: #b7f3b5;
    --dark-background-color: #080018;
    --dark-overlay-background-color: #840A9180;

    --admonition-border-color: var( --ubos-color );

    --grey-color:       #828282;
    --grey-color-light: #c0c0c0;

}

/* General elements */

body {
    font-family: var( --base-font-family );
    font-size: var( --base-font-size );
    line-height: var( --base-line-height );
    font-weight: var( --base-font-weight );
    color: var( --text-color );
    background-color: var( --background-color );
    -webkit-text-size-adjust: 100%;
    margin: 0;
}
h1 {
    font-size: var( --h1-font-size );
    line-height: 1.1;
    margin-bottom: calc( var( --spacing-unit ) * 0.7 );
    text-align: left;
}
h1 > a,
h1 > a:visited {
    text-decoration: none;
}

p, blockquote, pre, ul, ol, dl, li, figure {
    margin-top: calc( var( --spacing-unit ) * 0.5 );
    margin-bottom: calc( var( --spacing-unit ) * 0.5 );
}

a {
    color: var( --link-color );
    text-decoration: none;
}

a:visited {
    color: var( --link-color );
}

a:hover {
    color: var( --text-color );
    text-decoration: underline;
}
a.nohover:hover {
    text-decoration: none;
}
tt, code, pre {
    font-family: var( --code-font-family );
    font-size: var( --code-font-size );
    font-variant-ligatures: none;
}
pre {
    padding: 8px 12px;
    overflow-x: auto;
}
pre,
code {
    background-color: var( --code-background-color );
}
pre > code {
    border: 0;
    padding: 0;
    margin: 0;
}
h1 > code {
    font-size: var(--h1-font-size);
    font-weight: 400;
}
h2 > code {
    font-size: var(--h2-font-size);
    font-weight: 400;
}
h3 > code {
    font-weight: 400;
}
ul, ol {
    margin: 15px 0 15px var( --spacing-unit );
    padding: 0;
}

article {
    margin: 0;
    position: relative;
}

table {
   border-collapse: collapse;
   margin: 20px 0;
}
td, th {
    padding: 3px 5px;
    border: 1px solid #a0a0a0;
}

dt {
    margin-top: 10px;
    font-weight: bold;
}
dd {
    margin-left: 3em;
}

em {
    font-style: normal;
}

blockquote {
    margin-left: 2em;
    padding-left: 2em;
    border-left: 4px solid #808080;
}

/* Layout */

header,
footer {
    width: 100%;
    clear: both;
}

header {
    text-align: center;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
    background-image: linear-gradient( #FFF, #EEE 50%, #E4E4E4);
    line-height: 10px;
    background-repeat: no-repeat;
    border: 1px solid #D5D5D5;
    position: sticky;
    top: 0;
    z-index: 100;
}

footer {
    margin-top: 30px;
    padding: 10px 0;
    border-top: 1px solid #808080;
    font-size: var( --small-font-size );
    background: none;
}
footer a,
footer a:hover,
footer a:visited {
    color: inherit;
}
footer .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer img {
    display: block;
    margin: 1ex;
}
footer p {
    margin: 1ex;
}

header > div.container,
footer > div.container,
main {
    max-width: unset;
}
#page-nav li {
    padding-top: 0;
    padding-bottom: 0;
}

nav#breadcrumbnav {
    margin-bottom: 20px;
    font-size: var( --small-font-size );
}

/* Layout-specific elements */

div.doc {
    display: flex;
}
div.doc > div.toc {
    flex-grow: 0;
    flex-shrink: 0;
}
div.doc > main {
    flex-grow: 1;
    flex-shrink: 1;
    margin: 30px 30px 0 50px;
}

article h1.title {
    margin: 0 0 40px 0;
}

article h2,
article h3 {
    margin: 1.5em 0 0 0;
}
article h2 + h3 {
    margin: 1em 0 0 0;
}

article p.date {
    margin: 50px 0 0 0
    font-weight: normal;
    font-size: var( --small-font-size );
}

main p.img {
    text-align: center;
}

ul.range-ul-article,
ul.range-ul-article > li {
    margin:  0;
    padding: 0;
}
ul.range-ul-article > li {
    list-style: none;
}

section.blog article h1,
h2 {
    font-size: var( --h2-font-size );
    text-align: left;
}
div.feedicon {
    float: right;
}

ul.pager {
    margin: 0 0 20px 0;
}
ul.pager li {
    margin: 0 20px;
}

.sidenote {
  font-size: small;
}

a.get-started-button {
    color: #a00000;
    padding: 5px 15px;
    background: #f0f0f0;
    border: 1px solid #800000;
    border-radius: 5px;
    box-shadow: 0 0 4px #a0a0a0;
}

dt span.domain {
    font-weight: normal;
}
p.domain {
    font-style: italic;
}

section.docs-list > ol > li {
    margin-top: calc( var( --spacing-unit ) / 4 );
    margin-bottom: calc( var( --spacing-unit ) / 4 );
    padding: 0;
    font-weight: 700;
}
section.docs-list > ol > li > ol {
    margin-top: calc( var( --spacing-unit ) / 4 );
    margin-bottom: calc( var( --spacing-unit ) / 4 );
    padding: 0;
}
section.docs-list > ol > li > ol > li {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
section.docs-list > ol > li > ol > li ,
section.docs-list > ol > li > ol > li > a {
    color: #808080;
}

div.toc {
    width: 220px;
    background: var( --dark-background-color ) radial-gradient( at top right, var( --dark-overlay-background-color ), #00000000 50%);
}

div.toc h1 {
    margin: 3ex auto;
    text-align: center;
    text-transform: uppercase;
}

div.toc * {
    font-size: 12px;
    text-decoration: none;
    line-height: 120%;
}
div.toc a:hover {
    background: #e0e0e0;
}

div.toc ol {
    margin: 0;
    padding: 0;
}
div.toc li {
    margin: 8px 0;
    padding: 0;
    list-style: none;
}
div.toc,
div.toc a {
    color: #e0e0e0;
}

div.toc > ol > li {
    text-align: center;
    margin-top: 3ex;
}
div.toc > ol > li > ol {
    text-align: left;
}
div.toc > ol > li > a {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--link-color);
}

div.toc li li {
    margin-left: 2ex;
}

#toc ol.toc,
#toc li.toc {
    display: none;
}
#toc ol.toc.toc-current-path,
#toc li.toc.toc-current-path,
#toc #toc-current {
    display: block;
}

#toc ol.toc.toc-current-path > li,
#toc-current ol.toc,
#toc-current li.toc,
#toc > li.toc {
    display: block;
}
#toc-current > a {
    font-weight: bold;
}
#toc-current > ol.toc ol.toc {
    display: none;
}

div.admonition,
div.status {
    margin: 10px 0px;
    padding: 0 10px;
    border: 3px solid;
    border-color: var(--admonition-border-color);
    border-radius: 10px;
}

div.admonition p.admonition-title {
    float: left;
    font-weight: bold;
    margin-right: 10px;
}
div.admonition p.admonition-title:after {
    content: ":"
}

div.admonition.warning {
    background: #fff4f4;
    border-color: #ff8080;
}
div.status p.status-title {
    font-weight: bold;
    padding: 0;
    margin: 0;
}

span.undef:before {
    content: "UNDEF: ";
}
span.undef {
    color: red;
}

body.background {
    background: var( --dark-background-color );
    color: #f8f8f8;
}
body.background a:hover {
    color: #f8f8f8;
}
div.background {
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: -1;
  background: radial-gradient( at top right, var( --dark-overlay-background-color ), #00000000 50%);
}
body.background main {
    max-width: 980px;
}
