<!DOCTYPE html>
<html lang="{{ .Lang }}">
  {{ partial "head.html" . }}
  <body class="front">
    <header class="fixed-top">
      <div class="miniresp-main">
        <div class="project">
          <a title="{{ .Site.Title }}" href="/"><img src="/images/ubos-logo-header-70x22.png" alt="[UBOS]"></a>
        </div>
        {{ partial "miniresp-nav.html" . }}
      </div>
    </header>
    <div class="fixed-top-spacer"></div>
    <main class="miniresp-main">
      <article class="front">

<div class="banner">
 <div style="width: 320px; text-align: center">
  <img src="/images/ubos-160x160.png" alt="[UBOS]" style="margin: 34px 0 18px 0;"><br>
  <a href="/quickstart/">
   Now available<br>
   for PCs, Raspberry Pi's,<br>
   ESPRESSObin and cloud
  </a>
 </div>
 <div style="width: 638px; padding: 25px 10px 10px 10px">
  <h1 class="title" style="margin: 0 0 21px 0; text-align: center">Let's keep control over our data.</h1>
          {{ .Content }}
 </div>
</div>

<div class="section news">
 <div class="section-header"><span><a href="/blog/" style="color: inherit">BLOG POSTS</a></span></div>

 <div class="sectioncontent" style="flex-grow: 2; background: #f0f6fa; border-radius: 20px; border: 1px solid #e0f0f4;">
  <ul class="news-posts">
{{- range ( where site.RegularPages "Section" "blog" | first 3 ) }}
   <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
{{- end}}
  </ul>
 </div>

 <div class="sectioncontent" style="flex-grow: 1; border-radius: 20px; background: #f0f0f0">
  <p style="margin: 0; padding: 0">Subscribe to announcements:</p>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://s3.amazonaws.com/phplist/phplist-subscribe-0.2.min.js"></script>
  <script type="text/javascript">
var pleaseEnter = "Your e-mail";
var thanksForSubscribing = '<div class="subscribed">Thanks for <a href="https://indiecomputing.hosted.phplist.com/lists/?p=unsubscribe&id=4">subscribing</a>.</div>';
  </script>
  <div style="display: flex">
   <div id="phplistsubscriberesult"></div>
   <form action="https://indiecomputing.hosted.phplist.com/lists/?p=subscribe&id=4" method="post" id="phplistsubscribeform">
    <input type="text" name="email" value="" id="emailaddress" style="width: 100%; border: 1px solid #c0c0c0"/>
    <button type="submit" id="phplistsubscribe" style="text-align: center">Subscribe</button>
   </form>
  </div>
 </div>

 <div class="feeds sidenote">
  <a href="/blog/">More news</a> &mdash;
  Follow UBOS:
  <a href="/index.xml">RSS</a>
  • <a href="https://mastodon.social/@ubos">Mastodon</a>
  • <a href="https://twitter.com/uboslinux">Twitter</a>
  • <a href="https://www.facebook.com/uboslinux">Facebook</a>
  • <a href="https://www.youtube.com/channel/UCFv32pjDjv49l5EWAZQhw8A/playlists">YouTube</a>
 </div>
</div>

<div class="section apps">
 <div class="section-header"><span><a href="/apps/" style="color: inherit">APPS</a></span></div>
 <a href="http://nextcloud.com/" title="Nextcloud: A safe home for all your data">
  <img src="/images/nextcloud-72x72.png" alt="[Nextcloud]">
 </a>
 <a href="http://joinmastodon.org/" title="Mastodon: Decentralized microblogging">
  <img src="/images/mastodon-72x72.png" alt="[Mastodon]">
 </a>
 <a href="http://mattermost.org/" title="Mattermost: Slack alternative">
  <img src="/images/mattermost-72x72.png" alt="[Mattermost]">
 </a>
 <a href="http://withknown.com/" title="Known: publishing platform for everyone">
  <img src="/images/known-72x72.png" alt="[Known]">
 </a>
 <a href="https://www.phpbb.com/" title="phpBB: bulletin board!">
  <img src="/images/phpbb-72x72.png" alt="[phpBB]">
 </a>
 <a href="http://wordpress.org/" title="Wordpress: blog tools, publishing platform, and CMS">
  <img src="/images/wordpress-72x72.png" alt="[Wordpress]">
 </a>
 <a href="http://mediawiki.org/" title="Mediawiki: the wiki that Wikipedia runs on">
  <img src="/images/mediawiki-72x72.png" alt="[Mediawiki]">
 </a>
 <a href="http://selfoss.aditu.de/" title="Selfoss: multipurpose rss reader, live stream, mashup, aggregation web application">
  <img src="/images/selfoss-72x72.png" alt="[Selfoss]">
 </a>
 <a href="http://sebsauvage.net/wiki/doku.php?id=php:shaarli" title="Shaarli: your own URL shortener">
  <img src="/images/shaarli-72x72.png" alt="[Shaarli]">
 </a>
 <a href="http://webtrees.net/" title="Webtrees: collaborative genealogy application">
  <img src="/images/webtrees-72x72.png" alt="[Webtrees]">
 </a>
</div>
<p class="sidenote" style="float: right; margin: 0;">.. and others. More coming. <a href="https://github.com/uboslinux/apps-wanted/issues">Request.</a></p>

<div class="section howto">
 <div class="section-header"><span>HOWTO</span></div>
 <div class="howtoitem">
  <h2>Run UBOS</h2>
  <ul>
   <li>on an x86 PC (64bit)
       (<a href="/docs/users/installation/x86_bootstick.html">bootstick</a>,
       <a href="/docs/users/installation/x86_disk.html">hard drive</a>,
       <a href="/docs/users/installation/x86_container.html">container</a>,
       <a href="/docs/users/installation/virtualbox.html">VirtualBox</a>,
       <a href="/docs/users/installation/x86_docker.html">Docker</a>)
       or cloud (<a href="/docs/users/installation/ec2.html">EC2</a>).</li>
   <li>on a Raspberry Pi&nbsp;0, 1 (<a href="/docs/users/installation/raspberrypi.html">SDCard</a>,
       <a href="/docs/users/installation/armv6h_container.html">container</a>) or
       Pi&nbsp;2, 3 (<a href="/docs/users/installation/raspberrypi2.html">SDCard</a>,
       <a href="/docs/users/installation/armv7h_container.html">container</a>)</li>
   <li>on a Marvell ESPRESSObin (<a href="/docs/users/installation/espressobin.html">SDCard</a>,
       <a href="/docs/users/installation/espressobin.html#optional-boot-from-a-sata-disk-instead-of-an-sd-card">hard drive</a>,
       <a href="/docs/users/installation/aarch64_container.html">container</a>).</li>
  </ul>
 </div>
 <div class="howtoitem">
  <h2>Install an app</h2>
  <pre># ubos-admin createsite
Hostname: <i>ubos-pc.local</i>
App: <i>nextcloud</i>...</pre>
  <p>Code installed, database provisioned, virtual host configured...</p>
 </div>
 <div class="howtoitem">
  <h2>Upgrade everything</h2>
  <pre># ubos-admin update
Done.</pre>
  <p>OS updated, apps upgraded, database migrations performed, services restarted...</p>
 </div>
 <div class="howtoitem">
  <h2>Backup &amp; restore</h2>
  <pre># ubos-admin backup \
   --all --backuptofile \
  all.ubos-backup
# ubos-admin restore \
  --in all.ubos-backup</pre>
  <p>Plenty of options for more fine-grained control.</p>
 </div>
</div>

<p style="text-align: center; margin-top: 20px">
 <a href="/quickstart/" class="get-started-button">Get started!</a>
</p>

   </article>
  </main>
    {{ partial "footer.html" . }}
 </body>
</html>


